@font-face {
  font-family: 'GothamPro';
  src: asset_url('GothamPro.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamPro-Bold';
  src: asset_url('GothamPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamPro-BoldItalic';
  src: asset_url('GothamPro-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamPro-Italic';
  src: asset_url('GothamPro-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamPro-Light';
  src: asset_url('GothamPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamPro-LightItalic';
  src: asset_url('GothamPro-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamPro-Medium';
  src: asset_url('GothamPro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamPro-MediumItalic';
  src: asset_url('GothamPro-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamProNarrow-Bold';
  src: asset_url('GothamProNarrow-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamProNarrow-Medium';
  src: asset_url('GothamProNarrow-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamPro-Black';
  src: asset_url('GothamPro-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamPro-BlackItalic';
  src: asset_url('GothamPro-BlackItalic.ttf') format('truetype');
}
