<div class="details-container">
    <div class="bio-block details-block">
        <div class="bio-content content-holder">
        <div class="title-holder">
            <h3>Biography</h3>
        </div>
        <div class="description-holder">
            <p>
                Yechiel Kalmenson (aka Rabbi On Rails) was born and raised in Brooklyn. He got his rabbinical training in Israel and spent a few years teaching both children and adults.             </p>
            <p>
                After a brief stint in Tech Support, he found his next calling and went on to study web development.
            </p>
            <p>
                He currently lives in New Jersey with his family, using tech to support his passions for teaching, coding, and flying.
            </p>
        </div>
        </div>
    </div>
    <div class="education-block details-block">
        <div class="education-content content-holder">
        <div class="title-holder">
            <h3>Education</h3>
        </div>
        <div class="description-holder">
            <h4>Flatiron School</h4>
            <h5>Web Development</h5><br>
            <h4>United Lubavitch Yeshivah</h4>
            <h5>Rabbinical Studies</h5>
        </div>
        </div>
    </div>
    <div class="experience-block details-block">
        <div class="experience-content content-holder">
        <div class="title-holder">
            <h3>Experience</h3>
        </div>
        <div class="description-holder">
            <h4>VMware - Pivotal Cloud Foundry</h4>
            <h5>Software Engineer</h5><br>            
            <h4>Newtek Business Services</h4>
            <h5>Full Stack Developer</h5><br>
            <h4>Fidelity Payment Services</h4>
            <h5>Software Integration</h5><br>
            <h4>Flatiron School</h4>
            <h5>Technical Coach</h5><br>
            <h4>Shluchim Online School</h4>
            <h5>Teacher</h5><br>
        </div>

        </div>
    </div>
</div>